<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>SideChain</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
{% block meta %}{% endblock %}
</head>
{% load static %} 
{% block content%}
<body class="bg-navy">
   
<header class="bg-gold black-90 fixed w-100 ph2 pv2 pv3-ns ph3-m ph4-l mb3 helvetica ">
 
  <nav class="f6 fw6 ttu tracked helvetica">
    <a class="link dim white dib mr3" href="#" title="Home">SIDECHAIN</a>
    <a class="link dim white dib mr3" href="#" title="About">Tags</a>
    <a class="link dim white dib" href="{% url 'auth_login' %}" title="Contact">login</a>
    
  </nav>
</header>
<div class="flex flex-column">
        <div class="outline pa1 mr2 ma-7 mt5 ml5 mr5 gold">
          <code class="helvetica"><h1>  </h1></code>

        </body>

{% endblock%}

        