<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>SideChain</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
{% block meta %}{% endblock %}
</head>
{% load static %} 

<body class="bg-dark-blue">
    {% block content %}
<header class="bg-blue black-90 w-100 ph2 pv2 pv3-ns ph3-m ph4-l mb2 helvetica ">
 
  <nav class="f4 fw6 ttu tracked">
    <a class="link dim white dib mr3" href="{% url 'index' %}" title="Home">SIDECHAIN</a>
    <a class="link dim white dib mr3" href="#" title="About">Tags</a>
    <a class="link dim white dib" href="{% url 'auth_login' %}" title="Contact">login</a>
    
  </nav>
</header>




 
<div class="flex flex-column">
   
   
    
  {% for post in posts %}
  <div class=" bw2 bg-blue bl bb br br4 bt   mr2  ml7 mr7 white w-70  h-50 ">
    
    <a class="helvetica link:link link dim black-90 dib mr3 f3 fw9" href="{{ post.url }}"><p>{{ post.title }}</p></a>
    <code class="helvetica lh-copy"><p>Posted By:{{ post.author }}</p></code>
    <code class="helvetica f5 lh-solid b--dark-gray ">{{ post.description}}</code>
    <code class="helvetica"><h4>{{ post.date_added }}</h4></code>
    <a class="helvetica link:link link dim dib mr3 lh-copy" href=""><h4>Reply</h4></a>
    
  
    


    
  
  </div>
  </div>
  <br>
  <br>
  <br>
  {% endfor %}

</div>

</body>
{% endblock %}
</html>
