{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
 
{% block content %}
  <h1 class="ml7 white helvetica">HOME</h1>
  <div class="flex flex-column">
    <form method="GET" action="{% url 'index' %}">
      {{ sortform.as_p }}
      <button type="submit">Sort</button>
    </form>  
    {% for post in posts %}
    <div class=" bw5 b--moon-gray shadow-5 bg-white  bl br3   mr2  ml7 mr7 gray w-70  h-50 shadow-5  ">  
      <div class="flex justify-between">
        <a class="helvetica link:link link dim black-90 dib mr3 f3 fw9 bb bw3 b--blue shadow-5" href="{{ post.url }}"><p>{{ post.title }}</p></a>
        {% if request.user.is_authenticated %}
          <form action="{% url 'like_post' slug=post.slug %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            {% if request.user not in post.liked_by.all %}
              <button type="submit" class="mt3 mr3">
                ⬆
              </button>
            {% else %}
              <p class="mt3 mr3">✅</p>
            {% endif %}   
          </form>
        {% endif %}
      </div>
      <code class="helvetica lh-copy dark-red"><p>Posted By: 
        <a href="{% url 'profile_page' username=post.author.username %}">{{ post.author }}</a>
      </p></code>
      {% if post.audio %}
        <audio controls="">
          <source src="{{ post.audio.url }}" type="audio/wav">
          <source src="{{ post.audio.url }}" type="audio/mpeg">
        </audio>
        <br>
        <br>
      {% endif %}
      <code class="helvetica f5 lh-solid b--dark-gray  ">{{ post.description}}</code>
      <code class="helvetica dark-red"><h4>{{ post.date_added }}</h4></code>
      <p class="helvetica dark-red">Likes: {{ post.liked_by.count }}</p>
      <p><a class="helvetica dark-red hover-purple no-underline" href="{{ post.get_absolute_url }}">
        Comments: {{ post.comments.count }}</a></p>
      <a class="helvetica link:link link dim dib mr3 lh-copy" href="{{ post.get_absolute_url }}
      "><h4>Reply</h4></a>
    </div>
    <br>
    <br>
    <br>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <div class=" bw5 b--moon-gray shadow-5 bg-white  bl br3   mr2  ml7 mr7 gray w-70  h-50 shadow-5  "> 
        <div class="helvetica black">
          <h3>Make a Post:</h3>
          <form method="POST" action="{% url 'index' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post</button>
          </form>
        </div>
      </div>
    {% endif %}
    <div class="flex justify-around mb3 mt3">
      <div>
            {% if posts.has_previous %}
                <a href="?page=1" class="white hover-red">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}" class="white hover-red"> previous </a>
            {% endif %}
    
            <span class="white">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}" class="white hover-red"> next</a>
                <a href="?page={{ posts.paginator.num_pages }}" class="white hover-red"> last &raquo;</a>
            {% endif %}
        </div>
      </div>
  </div>
{% endblock %}

</html>
