{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1 class="ml7 white helvetica">{{ user.username }}'s Posts</h1>
        {% for post in posts %}
        <div class="flex flex-column">  
            <div class=" bw5 b--moon-gray shadow-5 bg-white  bl br3   mr2  ml7 mr7 gray w-70  h-50 shadow-5  ">  
            <div class="flex justify-between">
                <a class="helvetica link:link link dim black-90 dib mr3 f3 fw9 bb bw3 b--blue shadow-5" href="{{ post.url }}"><p>{{ post.title }}</p></a>
                {% if request.user.is_authenticated %}
                <form action="{% url 'like_post' slug=post.slug %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    {% if request.user not in post.liked_by.all %}
                        <button type="submit" class="mt3 mr3">
                            ⬆
                        </button>
                    {% else %}
                        <p class="mt3 mr3">✅</p>
                    {% endif %} 
                </form>
                {% endif %}
            </div>
            <code class="helvetica lh-copy dark-red"><p>Posted By: {{ post.author }}</p></code>
            <code class="helvetica f5 lh-solid b--dark-gray  ">{{ post.description}}</code>
            <code class="helvetica dark-red"><h4>{{ post.date_added }}</h4></code>
            <p class="helvetica dark-red">Likes: {{ post.liked_by.count }}</p>
            <p><a class="helvetica dark-red hover-purple no-underline" href="{{ post.get_absolute_url }}">
                Comments: {{ post.comments.count }}</a></p>
            <div class="flex justify-between">
                <a class="helvetica link:link link dim dib mr3 lh-copy" href="{{ post.get_absolute_url }}
                "><h4>Reply</h4></a>
                {% if request.user.is_authenticated and request.user == post.author %}
                    <form action="{% url 'delete_post' slug=post.slug %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="mr3 bg-red white">
                            Delete
                        </button>
                    </form>
                {% endif %}
            </div> 
        </div>
        <br>
        <br>
        <br> 
        {% endfor %}
        <div class="flex justify-around mb3 mt3">
            <div>
                {% if posts.has_previous %}
                    <a href="?page=1" class="white hover-red">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}" class="white hover-red"> previous </a>
                {% endif %}
        
                <span class="white">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>
        
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="white hover-red"> next</a>
                    <a href="?page={{ posts.paginator.num_pages }}" class="white hover-red"> last &raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</body>
</html>